:root{
	--bg-color: #121314;
	--main-color: #1C1F26;
	--text-color: #eee;
	--main-hover: #24262D;
	--project-description-bg-color: #111;
	--project-description-color: #eee;
	--popup-bg-background-color: #1a1b1df2;
}

.project{
	border-bottom-width: 3px;
}

.project .description a{
	color: #009688;
}

.project .description .tag{
	color: #00bcd4;
}

.project .button,
.make-project-visible,
body .button{
	background-color: #009688;
	color: var(--text-color);
}

.project .button:hover,
.make-project-visible:hover,
body .button:hover{
	background-color: #00524b;
}